In [1]:
import pandas as pd 
#%matplotlib notebook
import numpy as np
import matplotlib.pyplot as plt 


data_file = "data/time_series_covid_19_recovered.csv"
recovery_df = pd.read_csv(data_file)
china_df = recover_df.loc[(recover_df["Country/Region"] == "Mainland China"), :]
recovery_df["Country/Region"].value_counts()

china_df["January"] = china_df["1/31/20"]
china_df["February"] = china_df["2/20/20"]
china_df["Test"] = china_df["February"] - china_df["January"]
china_df = china_df.rename(columns = {"February":"Total","Test":"February"})
grouped_city = china_df.groupby(["Province/State"])["January","February","Total"].sum()
grouped_city
multi_plot = grouped_city.plot(kind="bar", figsize=(10,5)) 
plt.xlabel("Province/state")
plt.ylabel("Number of recoveries")
plt.title("Recoveries in China")

without_hubei = china_df.loc[china_df["Province/State"] != "Hubei"]


grouped_hubei = without_hubei.groupby(["Province/State"])["January","February","Total"].sum()
grouped_hubei
multi_plot = grouped_hubei.plot(kind="bar", figsize=(10,5)) 
plt.xlabel("Province/State")
plt.ylabel("Number of recoveries")
plt.title("Recoveries in China")

china_df.columns
china_reduced = china_df[['Province/State','Lat','Long', 'Total']]
#china_reduced['Population'] = ''
china_reduced = china_reduced.sort_values('Total', ascending=False)
china_reduced

china_top_5 = china_reduced.head()
china_top_5

In [12]:
city_population = [58500000,113460000,94000000,67370000,57370000]
china_top_5['Population'] = np.array(city_population)
china_top_5 = china_top_5.rename(columns ={"Total": "Total Number of Recoveries"})

C:\Users\amach\AppData\Local\Continuum\anaconda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [7]:
data_file = "data/time_series_covid_19_confirmed.csv"
confirm_df = pd.read_csv(data_file)
confchina_df = confirm_df.loc[(recover_df["Country/Region"] == "Mainland China"), :]
confirm_df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/11/20,2/12/20,2/13/20,2/14/20,2/15/20,2/16/20,2/17/20,2/18/20,2/19/20,2/20/20
0,Anhui,Mainland China,31.82571,117.2264,1,9,15,39,60,70,...,860,889,910,934,950,962,973,982,986,987
1,Beijing,Mainland China,40.18238,116.4142,14,22,36,41,68,80,...,342,352,366,372,375,380,381,387,393,395
2,Chongqing,Mainland China,30.05718,107.8740,6,9,27,57,75,110,...,505,518,529,537,544,551,553,555,560,567
3,Fujian,Mainland China,26.07783,117.9895,1,5,10,18,35,59,...,267,272,279,281,285,287,290,292,293,293
4,Gansu,Mainland China,36.06110,103.8343,0,2,2,4,7,14,...,86,87,90,90,90,90,91,91,91,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,Diamond Princess cruise ship,Others,35.44370,139.6380,0,0,0,0,0,0,...,135,175,175,218,285,355,454,542,621,634
72,"San Diego County, CA",US,32.71570,-117.1611,0,0,0,0,0,0,...,1,1,2,2,2,2,2,2,2,2
73,"San Antonio, TX",US,29.42410,-98.4936,0,0,0,0,0,0,...,0,0,1,1,1,1,1,1,1,1
74,NaN,Egypt,26.82060,30.8025,0,0,0,0,0,0,...,0,0,0,1,1,1,1,1,1,1
75,NaN,Iran,32.42790,53.6880,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,5

In [14]:
confchina_df["Total Confirmed Cases"] = confchina_df["2/20/20"]

C:\Users\amach\AppData\Local\Continuum\anaconda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [21]:
confchina_df = confchina_df[['Province/State','Total Confirmed Cases']]
confchina_df = confchina_df.sort_values('Total Confirmed Cases', ascending=False)

china_analysis = pd.merge(china_top_5,confchina_df, on = 'Province/State', how = "inner")

In [16]:
china_analysis

,Province/State,Lat,Long,Total Number of Recoveries,Population,Total Confirmed Cases
0,Hubei,30.97564,112.2707,11788,58500000,62442
1,Guangdong,23.33841,113.4220,642,113460000,1332
2,Henan,33.88202,113.6140,637,94000000,1265
3,Hunan,27.61041,111.7088,634,67370000,1010
4,Zhejiang,29.18251,120.0985,633,57370000,1175

In [22]:
china_analysis["Percentage Recovery(%)"] = round(((china_analysis["Total Number of Recoveries"]/china_analysis["Total Confirmed Cases"]) * 100),2)

In [23]:
china_analysis["GDP"] = [10054, 12956, 7561, 7979,14803]
china_analysis

,Province/State,Lat,Long,Total Number of Recoveries,Population,Total Confirmed Cases,Percentage Recovery(%),GDP
0,Hubei,30.97564,112.2707,11788,58500000,62442,18.88,10054
1,Guangdong,23.33841,113.4220,642,113460000,1332,48.20,12956
2,Henan,33.88202,113.6140,637,94000000,1265,50.36,7561
3,Hunan,27.61041,111.7088,634,67370000,1010,62.77,7979
4,Zhejiang,29.18251,120.0985,633,57370000,1175,53.87,14803

In [24]:
data_file = "data/china_gdp.csv"
gdp_df = pd.read_csv(data_file)

In [26]:
gdp_df = gdp_df[["Province/State","GDP"]]

In [31]:
Chinagdp_df = pd.merge(china_reduced, gdp_df, on ="Province/State", how = "inner")

In [32]:
Chinagdp_df

    Province/State       Lat       Long  Total     GDP
0            Hubei  30.97564  112.27070  11788  10,054
1        Guangdong  23.33841  113.42200    642  12,956
2            Henan  33.88202  113.61400    637   7,561
3            Hunan  27.61041  111.70880    634   7,979
4         Zhejiang  29.18251  120.09850    633  14,803
5            Anhui  31.82571  117.22640    474   7,171
6          Jiangxi  27.61401  115.72210    433   7,148
7          Jiangsu  32.97027  119.46400    356  17,381
8        Chongqing  30.05718  107.87400    299   9,921
9         Shandong  36.34377  118.15290    254  11,502
10         Sichuan  30.61714  102.71030    217   7,370
11        Shanghai  31.20327  121.45540    199  20,375
12           Hebei  38.04280  114.51490    169   7,202
13         Beijing  40.18238  116.41420    153  21,269
14    Heilongjiang  47.86200  127.76220    136   6,553
15          Fujian  26.07783  117.98950    126  13,729
16         Shaanxi  35.19165  108.87010    118   6,835
17         Guangxi  23.82908  108.78810     90   6,244
18          Hainan  19.19673  109.74550     86   7,815
19          Yunnan  24.97411  101.48680     79   5,595
20          Shanxi  37.57769  112.29220     76   6,835
21         Guizhou  26.81536  106.87480     72   6,215
22           Gansu  36.06110  103.83430     71   4,725
23         Tianjin  39.29362  117.33300     59  18,226
24        Liaoning  41.29284  122.60860     59   8,776
25         Ningxia  37.26923  106.16550     44   8,137
26           Jilin  43.66657  126.19170     43   8,424
27        Xinjiang  41.11981   85.17822     22   7,413
28         Qinghai  35.65945   96.02564     16   7,178
29  Inner Mongolia  44.09448  113.94560     16  10,311
30           Tibet  30.15340   88.78790      1   6,505